<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>

    <ul class="nav">
        <li><a href="/admin/:id/users">gestion users</a></li>
        <li><a href="/admin/:id/admins">gestion </a></li>
        <li><a href="/admin/:id/delete">suppression</a></li>
        <li><a href="/admin/:id/historique">historique</a></li>
    </ul>

    <main>
        <h1>Hello Master !</h1>

        <% if(typeof action != 'undefined' && action=='gestionUsers'){ %>
            <ul class="userList">
            <% datas.forEach(data => { %>
                <li>
                <form class="form-action" action="/admin/:id/users" method="post">
                    <ul class="userInfos">
                    <li><%= data.username %></li>
                    <li><input type="hidden" name="username" value=<%= data.username %>></li>
                    <li><input type="radio" id="user_select" name=<%= data.username %> value="ROLE_USER" checked></li>
                    <li><label for="user_select">user</label></li>
                    <li><input type="radio" id="admin_select" name=<%= data.username %> value="ROLE_ADMIN"></li>
                    <li><label for="admin_select">admin</label></li>
                    <li><input type="submit" value="valider"></li>
                    </ul>
                </form> 
                </li>               
            <% }); %>
            </ul>

        <% }else if(typeof action != 'undefined' && action=='gestionAdmins'){ %>
            <ul class="userList">
            <% datas.forEach(data => { %>
                <li>
                <form class="form-action" action="/admin/:id/admins" method="post">
                    <ul class="userInfos">
                    <li><%= data.username %></li>
                    <li><input type="hidden" name="username" value=<%= data.username %>></li>
                    <li><input type="radio" id="user_select" name=<%= data.username %> value="ROLE_USER" ></li>
                    <li><label for="user_select">user</label></li>
                    <li><input type="radio" id="admin_select" name=<%= data.username %> value="ROLE_ADMIN" checked></li>
                    <li><label for="admin_select">admin</label></li>
                    <li><input type="submit" value="valider"></li>
                    </ul>
                </form>
                </li>
            <% }); %>
            </ul>
        
        <% }else if(typeof action != 'undefined' && action=='deleteUser'){ %>
            <ul class="userList">
            <% datas.forEach(data => { %>
                <li>
                <form class="form-action" action="/admin/:id/delete" method="post">
                    <ul class="userInfos">
                    <li><%= data.username %></li>
                    <li><input type="hidden" name="username" value=<%= data.username %>></li>
                    <li><input type="submit" value="valider"></li>
                    </ul>
                </form>
                </li>                
            <% }); %>
            </ul>
        <% } %>
    </main>

    <%- include('./partials/footer.ejs'); %>
</body>
</html>