<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>

    <ul>
        <li><a href="/admin/:id/users">gestion users</a></li>
        <li><a href="/admin/:id/admins">gestion suppression</a></li>
        <li><a href="/admin/:id/historique">historique</a></li>
    </ul>

    <main>
        <h1>Hello Master !</h1>

        <% if(typeof action != 'undefined' && action=='gestionUsers'){ %>
            <ul>
            <% datas.forEach(data => { %>
                <% console.log('data.username'); %>
                <li><%= data.username %></li>
            <% }); %>
            </ul>

        <% }else if(typeof action != 'undefined' && action=='gestionAdmins'){ %>
            <ul>
            <% datas.forEach(data => { %>
                <% console.log('data.username'); %>
                <li><%= data.username %></li>
            <% }); %>
            </ul>

        <% } %>
    </main>

    <%- include('./partials/footer.ejs'); %>
</body>
</html>