<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>

    <main>
        <h1>Les petites annonces : </h1>   
        
        <label for="filtre">Filtre : </label>
        <select id="filtre" name="filtre" onchange="annonceFilter()">
            <option value="all">All</option>
            <option value="Tech">TECH</option>
            <option value="Sport">SPORT</option>
        </select>
        
        <% if(typeof datas != 'undefined'){ %>
            <div class="container">
            <% datas.forEach(data => { %>
                <articles class="annonce">
                    <a class="annonceItem-1" href="annonce/<%= data.id %>">
                    <h2><%= data.title %></h2>
                    </a>
                    <p class="annonceItem-2"><%= data.userName %></p>
                    <p class="annonceItem-3"><%= data.price %> PO</p>
                    <p class="annonceItem-4"><%= data.category %></p>
                    <p class="annonceItem-5"><%= data.description %></p>
                    <% if(typeof loggedIn != 'undefined' && loggedIn){ %>
                        <% data.userId===null?data.userId="false":data.userId="true"; %>
                        <% if(data.userId==="true"){ %>
                            <button class="annonceItem-6 modifPanier" type="button" data-doc="<%= data.id %>" data-in="<%= data.userId %>">retirer du panier</button>
                        <% }else{ %>
                            <button class="annonceItem-6 modifPanier" type="button" data-doc="<%= data.id %>" data-in="<%= data.userId %>">ajouter dans panier</button>
                        <% } %>
                    <% } %>
                </articles>
            <% }); %>
            </div>
        <% }else { %>
            <p class="result">Oups, le site est vide...</p>
        <% } %>
    </main>

    <script>
        function annonceFilter(){
            const filtre = document.getElementById('filtre').value;
            console.log(filtre);
            fetch(`/home/${filtre}`, { method: 'GET' })
                .then(response => response.json())
                .then(datas => {
                    const container = document.querySelector('.container');
                    container.innerHTML = '';

                    datas.forEach(data => {
                        const article = document.createElement('article');
                        article.classList.add('annonce');

                        article.innerHTML = `
                            <a class="annonceItem-1" href="annonce/${data.id}">
                                <h2>${data.title}</h2>
                            </a>
                            <p class="annonceItem-2">${data.userName}</p>
                            <p class="annonceItem-3">${data.price} PO</p>
                            <p class="annonceItem-4">${data.category}</p>
                            <p class="annonceItem-5">${data.description}</p>
                            `;

                        let btn;
                        if(data.userId!=null){
                            btn= `<button class="annonceItem-6 modifPanier" type="button" data-doc="${data.id}" data-in="${data.userId}">retirer du panier</button>`;
                        }else{
                            btn= `<button class="annonceItem-6 modifPanier" type="button" data-doc="${data.id}" data-in="${data.userId}">ajouter dans panier</button>`;
                        }
                        article.innerHTML += btn;

                        container.appendChild(article);
                    });
                })
                .catch(error => console.error('Error fetching data:', error));
        }

        document.addEventListener('DOMContentLoaded', () => {
            const buttons = document.getElementsByClassName('modifPanier');
            if(buttons){
                for(const button of buttons){
                    button.addEventListener('click', async (e) => {
                        let response;
                        if (button.dataset.in!="false") {
                            response = await fetch(`/panier/modif/${button.dataset.doc}`, { method: 'DELETE' });
                            if (response.ok) {
                                button.dataset.in = "false";
                                button.textContent = "ajouter dans panier";
                            }
                        } else {
                            response = await fetch(`/panier/modif/${button.dataset.doc}`, { method: 'POST' });
                            if (response.ok) {
                                button.dataset.in = "true";
                                button.textContent = "retirer du panier";
                            }
                        }
                    });
                }
            }
        })
    </script>

    <%- include('./partials/footer.ejs'); %>
</body>
</html>