<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>

    <main>
        <h1>Les petites annonces : </h1>        
            <% if(typeof datas != 'undefined'){ %>
                <div class="container">
                <% datas.forEach(data => { %>
                    <a href="annonce/<%= data.id %>">
                    <articles class="annonce">
                        <h2 class="annonceItem-1"><%= data.title %></h2>
                        <p class="annonceItem-2"><%= data.userName %></p>
                        <p class="annonceItem-3"><%= data.price %> PO</p>
                        <p class="annonceItem-4"><%= data.category %></p>
                        <p class="annonceItem-5"><%= data.description %></p>
                    </articles>
                    </a>
                <% }); %>
                </div>
            <% }else { %>
                <p class="result">Oups, le site est vide...</p>
            <% } %>
    </main>

    <%- include('./partials/footer.ejs'); %>
</body>
</html>