<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/nav.ejs'); %>

    <ul class="nav">
        <li><a href="/user/:id/view">Mes annonces</a></li>
        <li><a href="/user/:id/create">créer une annonce</a></li>
        <li><a href="/user/:id/delete">supprimer une annonce</a></li>
    </ul>

    <main>
        <h1>Hello <%= userName %></h1>
        <% if(typeof action != 'undefined' && action=='view'){ %>
            <h2>Mes annonces</h2>
            <% if(typeof result != 'undefined' && result==true){ %>
                <div class="container">
                <% datas.forEach(data => { %>
                    <articles>
                        <!-- <p><%= data.userName %></p> -->
                        <h2><%= data.title %></h2>
                        <p><%= data.price %></p>
                        <p><%= data.userId %></p>
                        <p><%= data.category %></p>
                        <p><%= data.description %></p>
                    </articles>
                <% }); %>
                </div>
            <% }else { %>
                <p class="result">Vous n'avez pas encore d'annonce.</p>
            <% } %>
        <% } %>

        <% if(typeof action != 'undefined' && action=='create'){ %>
            <h2>Création d'une annonce</h2>
            <% if(typeof result != 'undefined' && result==true){ %>
                <p class="result">L'annonce a été créée.</p>
            <% } %>
            <form class="form" method="post" >
                <label for="title">Titre de l'annonce : </label>
                <input type="text" name="title" id="title">
                <label for="price">Tarif : </label>
                <input type="number" name="price" id="price">
                <label for="category">Catégorie de l'annonce : </label>
                <select name="category" id="category">
                    <option value="Divers">Divers</option>
                    <option value="Tech">Tech</option>
                    <option value="Sport">Sport</option>                    
                </select>
                <label for="description">Description de l'annonce : </label>
                <textarea name="description" id="description"></textarea>
                <input type="submit" value="Publier">
            </form>
        <% } %>

        <% if(typeof action != 'undefined' && action=='delete'){ %>
            <p>suppression d'annonces</p>
        <% } %>
    </main>

    <%- include('./partials/footer.ejs'); %>
</body>
</html>